In [25]:
import pandas as pd
from datetime import datetime

data=pd.read_csv("Resources/cities.csv")
data['Date'] = pd.to_datetime(data['Date'],unit='s')
data.set_index("City_ID",drop=True,inplace=True)
data.reset_index(drop=True,inplace=True)
data.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,jacareacanga,0,BR,2018-06-13 15:00:00,62,-6.22,-57.76,89.60,6.93
1,kaitangata,100,NZ,2018-06-13 15:55:04,94,-46.28,169.85,42.61,5.64
2,goulburn,20,AU,2018-06-13 15:51:18,91,-34.75,149.72,44.32,10.11
3,lata,76,IN,2018-06-13 15:55:05,89,30.78,78.62,59.89,0.94
4,chokurdakh,0,RU,2018-06-13 15:55:06,88,70.62,147.90,32.17,2.95

In [26]:
data.to_html('raw_data.html',float_format='{:,.2f}'.format,index=False)